:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #f5f5f5;
    --entry: #e0e0e0;
    --primary: #333333;
    --secondary: #666666;
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: #303030;
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
    --tooltip: white;
    --tooltip-text: black;
}

.dark {
    --theme: #202020;
    --entry: #303030;
    --primary: #d9d9d9;
    --secondary: #808080;
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: #333333;
    --code-bg: rgb(55, 56, 62);
    --border: #353535;
    --tooltip: #7e9ca0;
    --tooltip-text:#2a2a2a;

}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
